<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Your Feed</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="icon-only" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="rowStyle">
      <ion-icon name="images" size="large" (click)="addPhoto()"></ion-icon>
      <ion-input type="text" color="danger" placeholder="Say something..." [(ngModel)]="postText"></ion-input>
      <ion-icon name="send" size="large" (click)="post($event)"></ion-icon>
    </ion-row>
    <ion-row class="rowStyle" *ngIf="image">
      <ion-card class="round-corners">
        <img [src]="image" class="round-corners">
      </ion-card>
    </ion-row>
  </ion-grid>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let post of posts">
    <ion-card-header color="danger">
      {{ post.data().owner_name }} Says
      <ion-icon name="trash" (click)="delete(post.id)"></ion-icon>
    </ion-card-header>
    <!-- <ion-card-subtitle>
      Testing card subtitle
    </ion-card-subtitle> -->
    <ion-card-content lines="full" text-wrap>
      {{ post.data().postText }}
      <img [src]="post.data().image" *ngIf="post.data().image">
    </ion-card-content>
    <ion-grid class="bottom-bar">
      <ion-row>
        <ion-col expand="block">
          <ion-icon name="thumbs-up"></ion-icon>
          <small>12 Likes</small>
        </ion-col>
        <ion-col expand="block">
          <ion-icon name="text"></ion-icon>
          <small>12 Comments</small>
        </ion-col>
        <ion-col expand="block">
          <ion-icon name="clock"></ion-icon>
          <small>{{ ago(post.data().created.toDate()) }} ago</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>